.card:hover {
    animation: jump 0.3s ease-out;
  }
  
  @keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
  }
  



  .small-cat {
    width: 150px;  
    height: auto;  
}
